.post {
    min-height:80px;
}

.user {
    min-width:80px;
    padding-left:5px;
}

.thread-link2 a:visited {
    color:#AAA !important;
}

.pagination {
    margin-top:0px;
}

.table-thread td:first-child{
    width:140px;
}

.table-board tbody tr td {  
    vertical-align:middle;
}

.login-container {
    margin: 0 auto;
    width: 400px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
